.header__nav {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: -12px;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
}

.header__nav-content {
  flex: 1.236;
  display: flex;
  justify-content: flex-end;
}

.header__menu {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 64px;

  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__nav-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 20px;
  background: transparent;
  border: 0;
  color: var(--color-white);
  cursor: pointer;
}

.header__nav-toggle svg {
  width: 28px;
  height: 28px;
}
